<h2 mat-dialog-title class="mat-dialog-title">{{ isReservation ? 'Reservation Details' : 'Flight Details' }}</h2>
<div mat-dialog-content class="details-container">
    <div class="section">
  <!-- Display origin -->
  <p><strong>Origin:</strong> {{ origin }}</p>

  <!-- Display boarding date and time -->
  <p><strong>Boarding:</strong> {{ boardingDateTime | date: 'dd/MM/yyyy, h:mm a' }}</p>

  <!-- Display destination -->
  <p><strong>Destination:</strong> {{ destination }}</p>

  <!-- Display landing date and time -->
  <p><strong>Landing:</strong> {{ landingDateTime | date: 'dd/MM/yyyy, h:mm a' }}</p>

  <!-- Display number of passengers or seats -->
  <p><strong>{{ isReservation ? 'No. of Passengers:' : 'No. of Seats:' }}</strong> {{ numberOfPassengersOrSeats }}</p>
</div>


  <!-- Display passenger list if it's a reservation -->
  <div *ngIf="isReservation && passengers?.length" class="passenger-section">
    <h3>Passengers:</h3>
    <div *ngFor="let passenger of passengers; let i = index" class="passenger-card">
      <p><strong>Passenger {{ i + 1 }}</strong></p>
      <p>Name: {{ passenger.name }}</p>
      <p>Passport no.: {{ passenger.passportNumber }}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions class="mat-dialog-actions">
  <button mat-button color="primary" (click)="closeDialog()">Close</button>
</div>
