<div class="manage-flights">
    <h2>Manage Flights</h2>
  
    <table class="flights-table">
      <thead>
        <tr>
          <th scope="col">Flight Number</th>
          <th scope="col">Departure Code</th>
          <th scope="col">Destination</th>
          <th scope="col">Departure Date</th>
          <th scope="col">Arrival Date</th>
          <th scope="col">Seats</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{ flight.flightNumber }}</td>
          <td>{{ flight.departureCode }}</td>
          <td>{{ flight.arrivalCode }}</td>
          <td>{{ flight.departureDateTime | date: 'shortDate' }}</td>
          <td>{{ flight.arrivalDateTime | date: 'shortTime' }}</td>
          <td>{{ flight.numberOfSeats }}</td>
          <td>
            <button class="btn btn-view" (click)="viewFlightDetails(flight)">View Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  