html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  *, *::before, *::after {
    box-sizing: border-box; /* Ensure consistent sizing */
  }
  
  .hidden {
    display: none !important;
  }
  
  .text-primary {
    color: #1976d2;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  